.dark-scroll-bar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 9999px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #00000040;
    }
  }
}

.light-scroll-bar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 9999px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #ffffff40;
    }
  }
}
